<header class="header">
    <h1 class="header__title">InsTags</h1>
    <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
    <button id="butAdd" class="headerButton" aria-label="Add"></button>
</header>
 <main class="main">
     <div class="card cardTemplate weather-forecast">
     <div class="location">Add photo</div>
      <label class="control-label">Select File</label>
      <input id="input" type="file" class="file">
      <center>
              <button id="btn" name="btn1" class="btn btn-primary btn-sm comment">SEND</button>
     </center>
     </div>

     </main>
