   <header class="header">
    <h1 class="header__title">InsTags</h1>
    <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
    <button id="butAdd" class="headerButton" aria-label="Add"></button>
</header>
 <main class="main">
     <div class="card cardTemplate weather-forecast">
	<center>
	 <div class="location">Add photo</div>
		<label class="select-photo">
			<label class="btn btn-primary btn-file">
                	 Browse<input type="file" style="display: none;" multiple>
			</label>
			<input type="text" class="form-control" readonly>           
                 </br>
             <button id="btn" name="btn1" class="btn btn-primary btn-sm comment">SEND</button>
                 </label>
                 <div id="gallery"></div>
             </center>
             </div>



             </main>
